@inherits LayoutComponentBase

<PageTitle>MonaLund.Web</PageTitle>

<div class="container-fluid px-0 mx-0" style="background-color: #F9F3F3">
  <Navbar />
    <main>
        @*<article class="content px-4">*@
            @Body
        @*</article>*@
    </main>
</div>
