@using MonaLund.Web.Authentication
@inject IJSRuntime _jsRuntime
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
<div class="container-fluid">
     @*   <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>*@
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">Mona Lund</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Søg efter produkter">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="bi bi-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
 
        </div>
    </div>
    @*Topbar end*@
    @*Navbar start*@
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-bs-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="bi bi-chevron-down text-dark"></i>
                </a>
                <nav class="navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 collapse show" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-bs-toggle="dropdown">Dresses <i class="bi bi-chevron-down float-right"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Men's Dresses</a>
                                <a href="" class="dropdown-item">Women's Dresses</a>
                                <a href="" class="dropdown-item">Baby's Dresses</a>
                            </div>
                        </div>
                        <a href="" class="nav-item nav-link">Shirts</a>
                        <a href="" class="nav-item nav-link">Jeans</a>
                        <a href="" class="nav-item nav-link">Swimwear</a>
                        <a href="" class="nav-item nav-link">Sleepwear</a>
                        <a href="" class="nav-item nav-link">Sportswear</a>
                        <a href="" class="nav-item nav-link">Jumpsuits</a>
                        <a href="" class="nav-item nav-link">Blazers</a>
                        <a href="" class="nav-item nav-link">Jackets</a>
                        <a href="" class="nav-item nav-link">Shoes</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold">Mona Lund</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <NavLink href="" Match="NavLinkMatch.All" class="nav-link nav-item">Home</NavLink>
                            <NavLink href="shop.html" class="nav-link">Shop</NavLink>
                            <NavLink href="detail.html" class="nav-item nav-link">Shop Detail</NavLink>
                            <div class="nav-item dropdown">
                                <NavLink href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</NavLink>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <NavLink href="cart.html" class="dropdown-item">Shopping Cart</NavLink>
                                    <NavLink  href="checkout.html" class="dropdown-item">Checkout</NavLink>
                                </div>
                            </div>
                            <NavLink href="contact.html" class="nav-item nav-link">Contact</NavLink>
                        </div>
                        <AuthorizeView>
                            <Authorized>
                                <div class="navbar-nav ml-auto py-0">
                                    <NavLink href="login" class="nav-item nav-link">Opret</NavLink>
                                    <NavLink href="register" class="nav-item nav-link">Logout</NavLink>
                                </div>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </nav>
                 <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid " src="Images/header-dark.jpg" alt="Image">
                            <div class="card-img-overlay"></div>
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-white text-uppercase font-weight-medium mb-3">Alt Godt Fra Gemmerne</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Mona Lund</h3>
                                    <a href="" class="btn btn-light py-2 px-3">Shop Her</a>
                                </div>
                            </div>
                        </div>
                       @* <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="img/carousel-2.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                    <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>*@
                </div>
        </div>
    </div>
    </div>
    </div>
    @*Navbar end*@
<CreateProductComponent />
@code {

    private async void ScrollToHome()
    {
        await _jsRuntime.InvokeAsync<object>("scrollToHome", null);
    }
    private async void ScrollToShop()
    {
        await _jsRuntime.InvokeAsync<object>("scrollToShop", null);
    }

    private async Task Logout()
    {
            var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(null);
            navManager.NavigateTo("/", true);

    }
}