<div class="top-row ps-3 navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MonaLund administrator</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Kategorier
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Under Kategorier
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Produkter
            </NavLink>
        </div>
        <div class="nav-item">
            <span class="oi oi-plus" aria-hidden="true"></span>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Opret Ny
                </a>
                <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createProduct">Product</button></li>
                    <li><a class="dropdown-item" href="#">Kategori</a></li>
                    <li><a class="dropdown-item" href="#">Under Kategori</a></li>
                </ul>
            </li>
        </div>
    </nav>
            <CreateProductComponent />

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
