 <div class="row pt-5">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-outline-primary me-1 mb-3" >Mænd</button>
            <button class="btn btn-outline-primary me-1 mb-3">Kvinder</button>
            <button class="btn btn-outline-primary me-1 mb-3">Indretning</button>
            <button class="btn btn-outline-primary me-1 mb-3">Pynt</button>
            <button class="btn btn-outline-primary me-1 mb-3">Bøger</button>
            <button class="btn btn-outline-primary me-1 mb-3">Smykker</button>
        </div>

    </div>