    <div class="container mt-5">
        <div class="row h-100 g-0">
            <div class="col-md-6">
                <div class="bg-300 p-4 h-100 d-flex flex-column justify-content-center">
                    <h4 class="text-800">Alt Godt Fra Gemmerne</h4>
                    <h1 class="fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6 ">Mona Lund</h1>
                    <p class="mb-5 fs-1">Her finde du alt jeg har samlet gennem tiden, fra diverse kræmmermarkeder, familie og mine egene kreationer.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-span h-100 text-white">
                    <img class="card-img h-100" src="Images/Laila.jpg" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient"></div>
                </div>
            </div>
        </div>
    </div>
