    <div class="container mt-5">
        <div class="row h-100 g-0">
            <div class="col-md-6">
                <div class="bg-300 p-4 h-100 d-flex flex-column justify-content-center">
                    <h4 class="text-800">Alt Godt Fra Gemmerne</h4>
                    <h1 class="fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6 ">Mona Lund</h1>
                    <p class="mb-5 fs-1">
                        Mit navn er Laila, og på denne side finder du alt jeg har samlet gennem tiden, fra diverse kræmmermarkeder, familie og venner.
                        Derudover jeg er en kreativ person, og på denne hjemmeside kan du også finde mine egne kreationer.
                        Formålet med denne hjemmeside er at samle alle de ting jeg har til salg på forskellige sider og give et nemmere overblik.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-span h-100 text-white">
                    <img class="card-img h-100" src="Images/Laila.jpg" alt="..." />
                    <div class="card-img-overlay bg-dark-gradient"></div>
                </div>
            </div>
        </div>
    </div>
