<div class="col-lg-4 col-md-6 col-sm-12 col-12 h-75 pb-1 d-lg-block d-md-block">
        <a href="#" class="text-decoration-none text-dark">
        <div class="product-card shadow-none">
            <img src="Images/kjole1.jpg" style="width: 100%"/>
            <p class="fs-5 pt-2 pb-0 mb-0 text-decoration-none text-dark product-title">Sample Product Name</p>
            <p class=" fs-3 pt-0 mt-0 price-tag">kr.100,00</p>
        </div>
    </a>
</div>