<div class="container">
          <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-6">
              <h5 class="fs-3 fs-lg-5 lh-sm mb-3">Se Blandet Udvalg</h5>
            </div>
            <div class="col-12">
              <div class="carousel slide" id="carouselNewArrivals" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row h-100 align-items-center g-2">
                     <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card bg-light-red card-span h-100 text-white">
                            <img class="img-fluid h-100" src="Images/kjole1.jpg" alt="...">
                          <div class="card-img-overlay ps-0"> </div>
                          <div class="card-body ps-0 bg-200 ">
                            <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                            <div class="fw-bold"><span class="text-danger">$466</span></div>
                          </div><a class="stretched-link" href="#"></a>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card bg-light-red card-span h-100 text-white">
                            <img class="img-fluid h-100" src="Images/kjole2.jpg" alt="...">
                          <div class="card-img-overlay ps-0"> </div>
                          <div class="card-body ps-0 bg-200 ">
                            <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                            <div class="fw-bold"><span class="text-danger">$466</span></div>
                          </div><a class="stretched-link" href="#"></a>
                        </div>
                      </div>
                       <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card bg-light-red card-span h-100 text-white">
                            <img class="img-fluid h-100" src="Images/jeans3.jpg" alt="...">
                          <div class="card-img-overlay ps-0"> </div>
                          <div class="card-body ps-0 bg-200 ">
                            <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                            <div class="fw-bold"><span class="text-danger">$466</span></div>
                          </div><a class="stretched-link" href="#"></a>
                        </div>
                      </div>
                     <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card bg-light-red card-span h-100 text-white">
                            <img class="img-fluid h-100" src="Images/kjole1.jpg" alt="...">
                          <div class="card-img-overlay ps-0"> </div>
                          <div class="card-body ps-0 bg-200 ">
                            <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                            <div class="fw-bold"><span class="text-danger">$466</span></div>
                          </div><a class="stretched-link" href="#"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                   <div class="carousel-item" data-bs-interval="50000">
                    <div class="row h-100 align-items-center g-2">
                       <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card bg-light-red card-span h-100 text-white">
                            <img class="img-fluid h-100" src="Images/kjole1.jpg" alt="...">
                          <div class="card-img-overlay ps-0"> </div>
                          <div class="card-body ps-0 bg-200 ">
                            <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                            <div class="fw-bold"><span class="text-danger">$466</span></div>
                          </div><a class="stretched-link" href="#"></a>
                        </div>
                      </div>
                      <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card bg-light-red card-span h-100 text-white">
                            <img class="img-fluid h-100" src="Images/kjole2.jpg" alt="...">
                          <div class="card-img-overlay ps-0"> </div>
                          <div class="card-body ps-0 bg-200 ">
                            <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                            <div class="fw-bold"><span class="text-danger">$466</span></div>
                          </div><a class="stretched-link" href="#"></a>
                        </div>
                      </div>
                       <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card bg-light-red card-span h-100 text-white">
                            <img class="img-fluid h-100" src="Images/jeans3.jpg" alt="...">
                          <div class="card-img-overlay ps-0"> </div>
                          <div class="card-body ps-0 bg-200 ">
                            <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                            <div class="fw-bold"><span class="text-danger">$466</span></div>
                          </div><a class="stretched-link" href="#"></a>
                        </div>
                      </div>
                     <div class="col-md-3 mb-3 mb-md-0 h-100">
                        <div class="card bg-light-red card-span h-100 text-white">
                            <img class="img-fluid h-100" src="Images/kjole1.jpg" alt="...">
                          <div class="card-img-overlay ps-0"> </div>
                          <div class="card-body ps-0 bg-200 ">
                            <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                            <div class="fw-bold"><span class="text-danger">$466</span></div>
                          </div><a class="stretched-link" href="#"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row"><button class="carousel-control-prev" type="button" data-bs-target="#carouselNewArrivals" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button><button class="carousel-control-next" type="button" data-bs-target="#carouselNewArrivals" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next </span></button></div>
                </div>
              </div>
            </div>
          </div>
        </div>