<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-10 col-10 d-flex justify-content-end">
        @*Todo: Compress the buttons when on small screens*@
    <button class="btn btn-outline-primary btn-lg" >Kjoler</button>
    <button class="btn btn-outline-primary btn-lg">Jeans</button>
    <button class="btn btn-outline-primary btn-lg">Nederdele</button>
    <button class="btn btn-outline-primary btn-lg">Jakker</button>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-2 d-flex justify-content-end">
        <button class="btn btn-outline-primary"><i class="bi bi-gear"></i></button>
    </div>
</div>