@page "/"

<PageTitle>Index</PageTitle>

<div class="container pt-5">
    <div class="row h-50 justify-content-center align-items-center pt-5">
        <div class="col-6 text-center">
            <h1 class="">Alt Godt fra Gemmerne</h1>
            <h4>Her finder du ting der er blevet samlet gennem tiden fra familie, kræmmermarkede og mine egen kreationer.</h4>
            <button class="btn btn-primary rounded-pill">SHOP NU</button>
        </div>
    </div>
    <div class="row">
        <CarouselComponent />
    </div>
</div>
<div class="container-fluid px-0 mx-0">
   <AboutLaila />
</div>

