@page "/"
@page "/index"
@using MonaLund.Web.Models
@using MonaLund.Web.Models.Contexts
@inject MonaContext _context

<PageTitle>Index</PageTitle>

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Udvalgte Produkter</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">

        @foreach(ProductModel product in _products)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <ProductComponent Product=product />  
            </div>
        }
    </div>
</div>

@code {
    private List<ProductModel> _products = new List<ProductModel>();

    protected override void OnInitialized()
    {
        _products = _context.Products.Take(8).ToList();
    }
}