@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row h-100 g-0">
        <div class="col-md-6">
            <div class="bg-300 p-4 h-100 d-flex flex-column justify-content-center">
                <h4 class="text-800">Alt Godt Fra Gemmerne</h4>
                <h1 class="fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6 ">Mona Lund</h1>
                <p class="mb-5 fs-1">Her finde du alt jeg har samlet gennem tiden, fra diverse kræmmermarkeder, familie og mine egene kreationer.</p>
                <div class="d-grid gap-2 d-md-block">
                    <a class="btn btn-lg btn-dark" href="#" role="button">Udforsk</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-span h-100 text-white">
                <img class="card-img h-100" src="Images/Laila.jpg" alt="..."/>
                <div class="card-img-overlay bg-dark-gradient"></div>
            </div>
        </div>
    </div>
    <div class="row h-100 g-2 py-1">
        <div class="col-md-4 ">
            <div class="card bg-light-red card-span h-100 text-white">
                <img class="card-img h-100" src="Images/CategoryImages/clothe-256.svg" />
                <div class="card-img-overlay ">
                    <div class="d-flex align-items-end justify-content-center h-100">
                        <a class="btn-lg text-dark fs-1" href="#" role="button">Tøj</a>
                        <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                      </svg>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-4 ">
            <div class="card bg-light-red card-span h-100 text-white">
                <img class="card-img h-100" src="Images/CategoryImages/decorative.svg" />
                <div class="card-img-overlay ">
                    <div class="d-flex align-items-end justify-content-center h-100">
                        <a class="btn-lg text-dark fs-1" href="#" role="button">Tøj</a>
                        <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                      </svg>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-4 ">
            <div class="card bg-light-red card-span h-100 text-white">
                <img class="card-img h-100" src="Images/CategoryImages/furniture-256.svg" />
                <div class="card-img-overlay ">
                    <div class="d-flex align-items-end justify-content-center h-100">
                        <a class="btn-lg text-dark fs-1" href="#" role="button">Tøj</a>
                        <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                      </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*<div class="container pt-5">
    <div class="row h-50 justify-content-center align-items-center pt-5">
        <div class="col-lg-9 col-md-12 col-sm-12 col-12 text-center">
            <h1 class="display-4">Alt Godt fra Gemmerne</h1>
            <h4>Her finder du ting der er blevet samlet gennem tiden fra familie, kræmmermarkede og mine egen kreationer.</h4>
            <button class="btn btn-primary rounded-pill btn-lg">SHOP NU</button>
        </div>
    </div>
    <div class="row">
        <CarouselComponent />
    </div>
</div>
<div class="container-fluid px-0 mx-0">
   <AboutLaila />
</div>*@

