@page "/shop"


<div class="container">
    <div class="row pt-5 justify-content-between">
        <div class="col-12">
            <ul class="list-inline text-center">
                <li class="list-inline-item "><a class=" filter-catagory" href="#">Møbler</a></li>
                <li class="list-inline-item "><a class=" filter-catagory" href="#">Tasker</a></li>
                <li class="list-inline-item "><a class=" filter-catagory" href="#">Tøj</a></li>
                <li class="list-inline-item "><a class=" filter-catagory" href="#">Sko</a></li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
         <div class="col-lg-4 col-md-6 col-sm-12 col-12 h-75 pb-1 d-lg-block d-md-block">
            <div class="product-card shadow-none">
                <img src="Images/kjole1.jpg" style="width: 100%"/>
                <a class="fs-5 pt-1 pb-0 mb-0 text-decoration-none text-dark">Sample Product Name</a>
                <p class=" fs-4 pt-0 mt-0">kr.100,00</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 h-75 pb-1 d-lg-block d-md-block">
            <div class="product-card shadow-none">
                <img src="Images/kjole1.jpg" style="width: 100%"/>
                <a class="fs-5 pt-1 pb-0 mb-0 text-decoration-none text-dark">Sample Product Name</a>
                <p class=" fs-4 pt-0 mt-0">kr.100,00</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 h-75 pb-1 d-lg-block d-md-block">
            <div class="product-card shadow-none">
                <img src="Images/kjole1.jpg" style="width: 100%"/>
                <a class="fs-5 pt-1 pb-0 mb-0 text-decoration-none text-dark">Sample Product Name</a>
                <p class=" fs-4 pt-0 mt-0">kr.100,00</p>
            </div>
        </div>
    </div>
</div>