@page "/shop"

<section id="categoryWomen">
        <div class="container">
          <div class="row h-100">
            <div class="col-lg-7 mx-auto text-center mb-6">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Sorter Efter Kategori</h5>
            </div>
            <div class="col-12">
              <nav>
                <div class="nav nav-tabs majestic-tabs mb-4 justify-content-center" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-clothes-tab" data-bs-toggle="tab" data-bs-target="#nav-clothes" type="button" role="tab" aria-controls="nav-clothes" aria-selected="true">Tøj</button>
                    <button class="nav-link " id="nav-furniture-tab" data-bs-toggle="tab" data-bs-target="#nav-furniture" type="button" role="tab" aria-controls="nav-furniture" aria-selected="false">Indretning</button>
                    <button class="nav-link " id="nav-deco-tab" data-bs-toggle="tab" data-bs-target="#nav-deco" type="button" role="tab" aria-controls="nav-deco" aria-selected="false">Pynt</button>
                </div>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade active show" id="nav-clothes" role="tabpanel" aria-labelledby="nav-clothes-tab">
                    <ul class="nav nav-pills justify-content-center mb-5" id="pills-tab-clothes" role="tablist">
                      <li class="nav-item" role="presentation">
                          <button class="nav-link active text-dark" id="pills-dresses-tab" data-bs-toggle="pill" data-bs-target="#pills-dresses" type="button" role="tab" aria-controls="pills-dresses" aria-selected="true">Kjoler</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link text-dark" id="pills-skirts-tab" data-bs-toggle="pill" data-bs-target="#pills-skirts" type="button" role="tab" aria-controls="pills-skirts" aria-selected="false">Nederdele</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link text-dark" id="pills-bags-tab" data-bs-toggle="pill" data-bs-target="#pills-bags" type="button" role="tab" aria-controls="pills-bags" aria-selected="false">Tasker</button>
                      </li>
                   @*   <li class="nav-item" role="presentation"><button class="nav-link" id="pills-wwatch-tab" data-bs-toggle="pill" data-bs-target="#pills-wwatch" type="button" role="tab" aria-controls="pills-wwatch" aria-selected="false">Watch </button></li>
                      <li class="nav-item" role="presentation"><button class="nav-link" id="pills-wsunglasses-tab" data-bs-toggle="pill" data-bs-target="#pills-wsunglasses" type="button" role="tab" aria-controls="pills-wsunglasses" aria-selected="false">Sunglasses </button></li>
                      <li class="nav-item" role="presentation"><button class="nav-link" id="pills-wbagpacks-tab" data-bs-toggle="pill" data-bs-target="#pills-wbagpacks" type="button" role="tab" aria-controls="pills-wbagpacks" aria-selected="false">Bagpacks </button></li>*@
                    </ul>
                    <div class="tab-content" id="pills-tabContentClothes">
                      <div class="tab-pane fade active show" id="pills-dresses" role="tabpanel" aria-labelledby="pills-dresses-tab">
                         <div class="row h-100 align-items-center g-2">
                               <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/kjole1.jpg" alt="...">
                                  <div class="card-img-overlay ps-0"> </div>
                                  <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                  </div><a class="stretched-link" href="#"></a>
                                </div>
                              </div>
                              <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/kjole1.jpg" alt="...">
                                  <div class="card-img-overlay ps-0"> </div>
                                  <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                  </div><a class="stretched-link" href="#"></a>
                                </div>
                              </div>
                              <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/kjole1.jpg" alt="...">
                                  <div class="card-img-overlay ps-0"> </div>
                                  <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                  </div><a class="stretched-link" href="#"></a>
                                </div>
                              </div>
                              <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/kjole1.jpg" alt="...">
                                  <div class="card-img-overlay ps-0"> </div>
                                  <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                  </div><a class="stretched-link" href="#"></a>
                                </div>
                              </div>
                          </div>
                        
                      </div>
                      <div class="tab-pane fade" id="pills-skirts" role="tabpanel" aria-labelledby="pills-skirts-tab">
                          <div class="row h-100 align-items-center g-2">
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/nederdel.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/nederdel.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/nederdel.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/nederdel.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="pills-bags" role="tabpanel" aria-labelledby="pills-bags-tab">
                           <div class="row h-100 align-items-center g-2">
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/tasker.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/tasker.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/tasker.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/tasker.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                          </div>
                      </div>
                     
                    </div>
                  </div>
                  @*Next catagory*@
                  <div class="tab-pane fade" id="nav-furniture" role="tabpanel" aria-labelledby="nav-furniture-tab">
                    <ul class="nav nav-pills mb-5 justify-content-center" id="pills-tab-furniture" role="tablist">
                      <li class="nav-item" role="presentation">
                          <button class="nav-link active text-dark" id="pills-shelf-tab" data-bs-toggle="pill" data-bs-target="#pills-shelf" type="button" role="tab" aria-controls="pills-shelf" aria-selected="true">Hylder</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link text-dark" id="pills-table-tab" data-bs-toggle="pill" data-bs-target="#pills-table" type="button" role="tab" aria-controls="pills-shirt" aria-selected="false">Border</button>
                      </li>
                     
                    </ul>
                    <div class="tab-content" id="pills-tabContentFurniture">
                      <div class="tab-pane fade show active" id="pills-shelf" role="tabpanel" aria-labelledby="pills-shelf-tab">
                        <div class="row h-100 align-items-center g-2">
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/hylde.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/hylde.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/hylde.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/hylde.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="pills-table" role="tabpanel" aria-labelledby="pills-table-tab">
                        <div class="row h-100 align-items-center g-2">
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/bord.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/bord.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/bord.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/bord.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  @*Last category*@
                   <div class="tab-pane fade" id="nav-deco" role="tabpanel" aria-labelledby="nav-deco-tab">
                       <ul class="nav nav-pills mb-5 justify-content-center" id="pills-tab-deco" role="tablist">
                          <li class="nav-item" role="presentation">
                              <button class="nav-link active text-dark" id="pills-Candlestick-tab" data-bs-toggle="pill" data-bs-target="#pills-Candlestick" type="button" role="tab" aria-controls="pills-Candlestick" aria-selected="true">Lysestager</button>
                          </li>
                          <li class="nav-item" role="presentation">
                              <button class="nav-link text-dark" id="pills-vases-tab" data-bs-toggle="pill" data-bs-target="#pills-vases" type="button" role="tab" aria-controls="pills-vases" aria-selected="false">Vaser</button>
                          </li> 
                      </ul>
                      <div class="tab-content" id="pills-tabContentDecorations">
                          <div class="tab-pane fade show active " id="pills-candlestick" role="tabpanel" aria-labelledby="pills-candlestick-tab">
                              <div class="row h-100 align-items-center g-2">
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/lysestage.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/lysestage.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/lysestage.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                                <div class="col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="img-fluid h-100" src="Images/lysestage.jpg" alt="...">
                                    <div class="card-img-overlay ps-0"> </div>
                                    <div class="card-body ps-0 bg-200 ">
                                    <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                    <div class="fw-bold"><span class="text-danger">$466</span></div>
                                    </div><a class="stretched-link" href="#"></a>
                                </div>
                                </div>
                          </div>
                          </div>
                          <div class="tab-pane fade" id="pills-vases" role="tabpanel" aria-labelledby="pills-vases-tab">
                            <div class="row h-100 align-items-center g-2">
                                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card bg-light-red card-span h-100 text-white">
                                        <img class="img-fluid h-100" src="Images/vase.jpg" alt="...">
                                        <div class="card-img-overlay ps-0"> </div>
                                        <div class="card-body ps-0 bg-200 ">
                                        <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                        <div class="fw-bold"><span class="text-danger">$466</span></div>
                                        </div><a class="stretched-link" href="#"></a>
                                    </div>
                                    </div>
                                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card bg-light-red card-span h-100 text-white">
                                        <img class="img-fluid h-100" src="Images/vase.jpg" alt="...">
                                        <div class="card-img-overlay ps-0"> </div>
                                        <div class="card-body ps-0 bg-200 ">
                                        <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                        <div class="fw-bold"><span class="text-danger">$466</span></div>
                                        </div><a class="stretched-link" href="#"></a>
                                    </div>
                                    </div>
                                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card bg-light-red card-span h-100 text-white">
                                        <img class="img-fluid h-100" src="Images/vase.jpg" alt="...">
                                        <div class="card-img-overlay ps-0"> </div>
                                        <div class="card-body ps-0 bg-200 ">
                                        <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                        <div class="fw-bold"><span class="text-danger">$466</span></div>
                                        </div><a class="stretched-link" href="#"></a>
                                    </div>
                                    </div>
                                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                                    <div class="card bg-light-red card-span h-100 text-white">
                                        <img class="img-fluid h-100" src="Images/vase.jpg" alt="...">
                                        <div class="card-img-overlay ps-0"> </div>
                                        <div class="card-body ps-0 bg-200 ">
                                        <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                                        <div class="fw-bold"><span class="text-danger">$466</span></div>
                                        </div><a class="stretched-link" href="#"></a>
                                    </div>
                                    </div>
                              </div>
                      </div>
                   </div>
                   </div>
                </div>
              </nav>
            </div>
          </div>
        </div>

        
</section>
<section>
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProductModal">
          Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="ProductModal" tabindex="-1" aria-labelledby="ProductModal" aria-hidden="true">
          <div class="modal-dialog modal-xl h-75">
            <div class="modal-content">
              @*<div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>*@
              <div class="modal-body">
                    <div class="container">
                        <div class="row h-100 g-0">
                            
                            <div class="col-md-6">
                                <div class="card card-span h-100 text-white">
                                    <img class="card-img h-100" src="Images/kjole1.jpg" alt="..."/>
                                    <div class="card-img-overlay bg-dark-gradient"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="p-4 h-100 d-flex flex-column justify-content-center">
                                    <h1 class="fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6 ">Sample Product Name</h1>
                                    <h4 class="text-800 price-tag">kr.100,00</h4>
                                    <p class="mb-5 fs-1">Kjole I størrelse small</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <p class="fs-1"><div class="text-danger fs-5">Interesseret i denne vare?</div>
                                            Klik på knapper nede før for at få mere information.
                                        </p>
                                        <a class="btn btn-lg btn-dark" href="#" role="button"><i class="bi bi-facebook"></i></a>
                                        <a class="btn btn-lg btn-dark" href="#" role="button">DBA</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row h-100 g-2 py-1">
                           @* <div class="col-md-4 ">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="card-img h-100" src="Images/CategoryImages/clothe-256.svg" />
                                    <div class="card-img-overlay ">
                                       <div class="d-flex align-items-end justify-content-center h-100">
                                            <a class="btn-lg text-dark fs-1" href="#" role="button">Tøj</a>
                                            <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                                          </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            @* <div class="col-md-4 ">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="card-img h-100" src="Images/CategoryImages/decorative.svg" />
                                    <div class="card-img-overlay ">
                                       <div class="d-flex align-items-end justify-content-center h-100">
                                            <a class="btn-lg text-dark fs-1" href="#" role="button">Indretning</a>
                                            <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                                          </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                             <div class="col-md-4 ">
                                <div class="card bg-light-red card-span h-100 text-white">
                                    <img class="card-img h-100" src="Images/CategoryImages/furniture-256.svg" />
                                    <div class="card-img-overlay ">
                                       @* <div class="d-flex align-items-end justify-content-center h-100">
                                            <a class="btn-lg text-dark fs-1" href="#" role="button">Pynt</a>
                                            <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                                          </svg>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
           @*   <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>*@
            </div>
          </div>
        </div>
    </div>
</section>